/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: "﩯 ";
  display-combi: "  ";
}
//@theme "themes/nord.rasi"
// @theme "/home/kajdo/.config/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/kajdo/.config/rofi/themes/kajdo-nord.rasi"

@theme "/home/kajdo/.config/rofi/themes/kajdo-mix.rasi"
